# VleisKraft™ App — Expo Frontend
EXPO_PUBLIC_API_URL=https://vleiskraft-api.onrender.com
EXPO_PUBLIC_ENV=production
EXPO_PUBLIC_SENTRY_DSN=https://xxxxx@o4511461329207376.ingest.sentry.io/4511461329207376
EXPO_PUBLIC_POSTHOG_KEY=phc_w8M2RMQe86ghfbEgYUu4TWhgxZyL9EHDvPVLJBUcoxHC
EXPO_PUBLIC_STREAM_KEY=xdpp6ngtjmpz
EXPO_PUBLIC_GOOGLE_MAPS_KEY=AIzaSyA4BdW-z28E9-diJ8fXbfM2-2asRZrx5_E
